<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="name" connectionString="Data Source=DESKTOP-B13B310\SQLEXPRESS;Initial Catalog=Company;Integrated Security=True;Encrypt=False" providerName="System.Data.SqlClient" />

	<add name="CompanyEntities" connectionString="metadata=res://*/LogInModel.csdl|res://*/LogInModel.ssdl|res://*/LogInModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-B13B310\SQLEXPRESS;initial catalog=Company;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>